
@{
    ViewData["Title"] = "Eredmények: ";
}

<h1>Eredmények:</h1>

<h3> @Html.ActionLink("Csapatkapitányok", "CsK") </h3>

<h3> @Html.ActionLink("Móka Rókák", "Moka") </h3>

<h3>@Html.ActionLink("Programosok", "Programos") </h3>
